<div xmlns:th="http://www.thymeleaf.org"
     th:replace="~{/layout/index :: dynamic(~{::main})}">
    <main>
        <form th:action="@{/security/login}" method="post">
            <div class="card">
                <div class="card-header">
                    SHOPPING CART LOGIN
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input class="form-control" name="username">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" name="remember">
                        <label class="form-check-label">Remember me?</label>
                    </div>
                </div>
                <div class="card-footer text-body-secondary">
                    <i class="text-danger">[[${message}]]</i>
                    <button class="btn btn-primary">Login</button>
                </div>
            </div>
        </form>
    </main>
</div>