<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/layout/index :: dynamic(~{:: main})}">
<head>
    <meta charset="UTF-8">
    <title>Order list</title>
</head>
<body>
    <main>
        <div class="card">
            <div class="card-header">
                ĐƠN HÀNG CỦA BẠN
            </div>
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Địa chỉ</th>
                        <th></th>
                    </tr>
                    <tr th:each="order, state: ${orders}" th:object="${order}">
                        <td>[[${state.index + 1}]]</td>
                        <td>[[*{id}]]</td>
                        <td>[[*{createDate}]]</td>
                        <td>[[*{address}]]</td>
                        <td>
                            <a th:href="@{|/order/detail/*{id}|}" class="btn btn-primary">Chi tiết</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
</body>
</html>