<div class="card">
    <div class="card-header">
        DANH SÁCH SẢN PHẨM
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Ngày tạo</th>
                <th>Hình ảnh</th>
                <th>Loại</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            <tr ng-repeat="item in pager.items">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price | number: 2}}</td>
                <td>{{item.createDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{item.image}}</td>
                <td>{{item.category.name}}</td>
                <td>{{item.available? 'Còn': 'Hết'}}</td>
                <td colspan="2">
                    <button ng-click="edit(item)" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button>
                    <button ng-click="delete(item)" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
                </td>
            </tr>
        </table>
    </div>
    <div class="card-footer text-body-secondary">
        <button class="btn btn-primary" ng-click="pager.first()">
            First
        </button>
        <button class="btn btn-primary" ng-click="pager.prev()">
            Prev
        </button>
        <button class="btn btn-success">{{pager.page + 1}} of {{pager.count}}</button>
        <button class="btn btn-primary" ng-click="pager.next()">
            Next
        </button>
        <button class="btn btn-primary" ng-click="pager.last()">
            Last
        </button>
    </div>
</div>